<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>fuddns.axelexic.org</string>

  <key>UserName</key>
  <string>swami</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/swami/Library/fu-ddns/update.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>18000</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/swami/Library/fu-ddns/update.log</string>

  <key>StandardOutPath</key>
  <string>/Users/swami/Library/fu-ddns/update.log</string>
</dict>
</plist>
